{% extends "layout.html" %}
{% block title %}
Edit Item
{% endblock %}
{% block content %}
    {% if msg %}
    <div class="alert alert-info" role="alert">
        {{ msg }}
    </div>
    {% endif %}

    <h1>Edit Item Record</h1>
    {% for row in rows %}
    <form action="{{ url_for('editrec') }}" method="POST">
        <h3 style="color:blue">Item ID: {{ row['id']}}</h3>
        <input type="hidden" name="id" value="{{ row['id'] }}">
        Name<br>
        <input type="text" name="product_name" value="{{ row['product_name'] }}"/><br>
        
        Description<br>
        <input type="text" name="description" value="{{row['description']}}"/><br>

        Quantity<br>
        <input type="text" name="quantity" value="{{ row['quantity'] }}"/><br>

        Price<br>
        <input type="text" name="price" value="{{ row['price'] }}"/><br>

        Category<br>
        <input type="text" name="category" value="{{ row['category'] }}"/><br>

        Supplier<br>
        <input type="text" name="supplier" value="{{ row['supplier'] }}"/><br>
        
        Barcode<br>
        <input type="text" name="barcode" value="{{ row['barcode'] }}"/><br>

        <input type="submit" value="Submit" /><br>
    </form>
    {% endfor %}
{% endblock %}